*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.container {
  /* justify-content: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  /* border: 1px solid black; */
  margin: 10px;
  padding: 2px;
}

.change-location {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

h1 {
  margin: 8px auto;
  color: rgba(0, 0, 0, 0.6);
}

.label-city {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
}

.input-form {
  width: 400px;
  padding: 8px;
}

.dispNone {
  display: none;
}

.card {
  background-color: white;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

h5 {
  margin: 8px auto;
  font-size: 1.5em;
}

.weather-condition {
  margin: 8px auto;
}

.temp {
  margin: 12px auto;
  font-size: 3em;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
  left: 150px;
  background: #eeedec;
}
